.content-title-reset {
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;

  .title-reset-password {
    font-size: 16px;
    color: #1c3f80;
  }
}
.container-sign-up {
  margin-top: 20px;
  margin-bottom: 20px;

  .title-footer-general {
    font-size: 16px;
    color: #1c3f80;
    text-align: center;

    span {
      font-weight: 700;
    }
  }
}