<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-form">
    <div class="content-title-reset">
      <span class="title-reset-password">Enter the email address you signed up with and we'll email you a reset link.</span>
    </div>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="jhon.doe@gmail.com"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="resetPassword()">Send Email</ion-button>
  </div>
  <div class="container-sign-up">
    <div class="title-footer-general">
      <span routerLink="/login">¡Login Now!</span>
    </div>
  </div>
</ion-content>
